h1 {
	text-align: center;
	font-size: 22px;
	}
	
	#italic{
	font-style: italic;
	}
	
	#zmist {
	text-align: center;
	}
	#Uni {
		font-weight:bold ;
	}
		li {
			list-style: none;
		}
	.button{
   padding: 11px 25px;
  display: block;
  width: 170px;
  height: 2.5em;
  line-height: 2.5em;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: white;
  outline: none;
  border: 1px ;
  border-style: solid;
  border-radius: 6px;
  text-shadow: 0 -1px 1px #777;
  box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
  background: linear-gradient(#87CEFA, #4682B4, #4682B4, #87CEFA);
}
	.button:hover {
    text-decoration: none;
    background:  magenta;
    color: moccasin;
	border: 1px solid #ff4500;
	border-radius: 6px;
    }
	 .button:active{
    text-decoration: none;
	background: yellow;
    color: tomato; 
	border: 1px ;
	border-radius: 6px;
	
	
	}
	 article {
		font-size: 120%; 
	 }
	 .sky {
		font-size: 140%; 
	 }
	 
	#Inf {
		text-decoration: none;
		background-color:steelblue;
		color:bisque;
	}
	#Kinder {
		text-decoration: none;
		background-color:bisque;
		color:darkkhaki;
		}
		#School {
			text-decoration: none;
		background-color:darkkhaki;
		color:silver;
		}
		#Out {
			text-decoration: none;
		background-color:silver;
		color:teal;
		}
		#University {
			text-decoration: none;
		background-color:teal;
		color:tan;
		}
		[href='#neverever']{
    text-transform:uppercase;
  }
		
